* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	min-height: 100%;
}

html,
input,
button {
	font-family: 'Muli', sans-serif;
}

body {
	-webkit-font-smoothing: antialised !important;
	background: #7159c1;
}
	